@font-face {
 font-family: ABCSansNovaRegular;
 src: url(../fonts/ABCSansNova-Regular.otf);
}
@font-face {
 font-family: ABCSansNovaBlack;
 src: url(../fonts/ABCSansNova-Black.otf);
}
@font-face {
 font-family: ABCSansNovaLight;
 src: url(../fonts/ABCSansNova-Light.otf);
}
:root {
  font-size: 1em;
  font-family: ABCSansNovaRegular, Helvetica, sans-serif;
  color: #001533;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
}
#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
}
#legend {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background: rgba(250, 250, 250, .75);
  padding: .5rem;
  box-shadow: 1px 1px 4px #001533;
  display: flex;
  flex-flow: column;
  font-size: .8rem;
  opacity: 0;
}
.legendItem {
  display: flex;
  height: 1.1rem;
  align-items: center;
}
#legend.off .legendItem {
  display: none;
}
#legendHeader {
  color: #68788e;
  font-weight: bold;
  text-align: center;
  margin-top: .25rem;
}
#legend.off #legendHeader {
  margin-top: 0;
}
#legendHeader::after {
  content: "CLICK TO HIDE";
}
#legend.off #legendHeader::after {
  content: "CLICK FOR LEGEND";
}
.legendBox {
  width: .9rem;
  height: .9rem;
  margin-right: .25rem;
  border-radius: 25%;
}
#legendItem6 .legendBox {
  background-image: url("./hatch.png");
}
#header {
  top: .5rem;
  left: .5rem;
  position: absolute;
  background: white;
  color: #8495a9;
  box-shadow: 1px 1px 4px #001533;
  display: flex;
  font-family: ABCSansNovaBlack, "Arial Black", -webkit-bodyHelvetica, sans-serif;
  flex-flow: column;
  font-size: .9rem;
}
#header div {
  padding: .25rem;
  border-bottom: .5px solid #8495a9;
  cursor: pointer;
}
#header div.on {
  background: #009de5;
  color: white;
  border-bottom: .5px solid #009de5;
  pointer-events: none;
}

@media only screen and (max-width: 500px) {
  #legend {
    right: .5rem;
    bottom: .5rem;
    padding: .25rem;
    font-size: .75rem;
  }
  .legendItem {
    height: 1rem;
  }
  #legendHeader::after {
    content: "TOUCH TO HIDE";
  }
  #legend.off #legendHeader::after {
    content: "TOUCH FOR LEGEND";
  }
  .legendBox {
    width: .8rem;
    height: .8rem;
  }
}
